@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,500,600,700&subset=latin-ext");
@import "~tachyons-sass/tachyons.scss";

/* Media Queries */
@custom-media --breakpoint-not-small screen and (min-width: 30em);
@custom-media --breakpoint-medium screen and (min-width: 30em) and (max-width: 60em);
@custom-media --breakpoint-large screen and (min-width: 60em);

body {
  font-family: Lato;
}

$golden: #CCA876;

.golden {
  color: $golden;
}

.b--golden {
  border-color: $golden;
}

.shadow-page {
  box-shadow: 0 -48px 31px 0 rgba(25, 35, 45, 1);
}

.shadow-card {
  box-shadow: 0 -11px 33px 0 rgba(11, 16, 20, 1);
}

.Border__Box {
  width: 30px;
  @extend .bt, .b--golden, .mt2;
}

.lh-large {
  line-height: 2rem;
}

.Section__Header {
  @extend .f3, .fw6, .ttu, .black-80;
}

.Section__Header_White {
  @extend .f3, .fw5, .ttu, .white-90;
}

@media screen and (min-width: 60em) {
  #Section__About_White_Page {
    margin-top: -150px;
    height: 320px;
  }

  #Section__About_Content {
    margin-top: -320px;
  }

  #Section__Contact_Card {
    margin-top: -100px;
  }
}

.Services__Item {
  @extend .mb5;
}

.Services__Item h3 {
  @extend .white, .f4, .fw5, .pb0, .mb2;
}

.Services__Item h4 {
  @extend .white-50, .f6, .fw3, .i, .lh-copy, .mt0, .measure-narrow;
}