@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,500,600,700&subset=latin-ext");
@import "~tachyons-sass/tachyons.scss";

body {
  font-family: Lato;
}

$golden: #CCA876;

.golden {
  color: $golden;
}

.b--golden {
  border-color: $golden;
}

.shadow-page {
  box-shadow: 0 -48px 31px 0 rgba(25, 35, 45, 1);
}

.Border__Box {
  width: 30px;
  @extend .bt, .b--golden, .mt2;
}

.lh-large {
  line-height: 2rem;
}

.Section__Header {
  @extend .f3, .fw6, .ttu, .black-80;
}